/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
   /* A place to store information for the rest of CSS page */
   /* dimensions */
    --width-full: 100%;
    --width-12col: 1200px;
    
    /* grid settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /* colours */
    --background-color-navigation: #00000088;
    --background-color-light: #ededed;
    --background-color-dark-bg: #111111;
    --primary-color: #bf5b23;
    --color_black: #373737;
    --color_light: #ebebeb;
    /*color-swatches*/
    --catagory-seafood: #3e30e2;
    --catagory-chicken: #249c8e;
    --catagory-meats: #d09180;
    --catagory-veg: #298f3f;
    --catagory-dessert: #9374eb;
    --catagory-misc: #9a951e;
    --catagory-pasta: #bf5b23;
}

/* data-category colors start*/
div[data-category="seafood"] {
    border-left: 2px solid var(--catagory-seafood);
}

p[data-category="seafood"], span[data-category="seafood"] {
    color: var(--catagory-seafood);
}

div[data-category="chicken"] {
    border-left: 2px solid var(--catagory-chicken)
}

p[data-category="chicken"], span[data-category="chicken"] {
    color: var(--catagory-chicken);
}

div[data-category="pastas"] {
    border-left: 2px solid var(--catagory-pasta);
}

p[data-category="pastas"], span[data-category="pastas"]{
    color: var(--catagory-pasta);
}
/* data-category colors end*/

/*reset css*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body, html {
    width: var(--width-full);
    font-family: "Roboto", sans-serif;
    position: relative;
    background-color: var(--background-color-dark-bg);

}

.navigation, .hero, .image_section, .footer {
 width: var(--width-full);
}

.todays_recipes, .categories, .content-area {
    width: var(--width-12col);
}

.container {
    display:grid;
    grid-template-rows: auto;
    gap: var(--grid-gap);
    width: var(--width-full);
}

.menu-container ul {
    display: flex;
    list-style-type: none;
}

.navigation {
    background-color: var(--background-color-navigation);
    padding: 30px 0 30px 0;
    position: absolute;
    z-index: 10;
    width: var(--width-full);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* } makes the navigation stick to the top of the page while scrolling */
.navigation.fixed{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1000;
}

.menu-container {
    width: var(--width-12col);
}

.menu-container ul {
  display: flex;
  list-style-type: none;
}

.menu-container a {
    padding: 0 10px;
    text-decoration: none;
    color: var(--background-color-light);
    text-transform: uppercase;
}

.menu-container ul li {
    border-right: 1px solid var(--background-color-light);
}

.menu-container ul li a {
  color:var(--background-color-light);
  text-decoration: none;
  text-transform: uppercase;
  border-right: 1px solid var(--background-color-light);
  padding: 0 10px 0 10px;
}

.menu-container ul li a:hover {
    color: var(--primary-color);
}

.hero {
    background-image: url("https://picsum.photos/1200/800");
    min-height: 600px;
    height: auto;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--background-color-light);
    margin:0;
    border-bottom: 1px solid var(--background-color-dark-bg);
}

.hero-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
}

.hero-text {
    grid-column: 1 / span 4;
    grid-row: 1;
    margin: 200px 0 0 0;
}

.hero-text h1{
   padding:0; /*redundant - Don't Repeat Yourself*/
   margin:15px 0 15px 0;
   font-size: 30px;
   text-transform: uppercase;
}

.hero-text h1 span{
  font-weight: 900;
}

.hero-text p{
    font: 14px;
}

.search-box {
    grid-column: 2/ span 3;
    grid-row: 2;
    margin: 60px 0 0 0;
}

.search-input {
    background-color: transparent;
    padding: 10px 20px 10px 40px;
    border: 1px solid var(--background-color-light);
    border-radius: 5px;
    outline: none;
    color: var(--background-color-light);
    margin: 0 0 10px 0;
}


.todays_recipes {
    width:100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 130px auto;
    gap: var(--grid-gap);
    box-sizing: border-box;
    margin: 0 auto;
}

.todays_recipes_headline { 
    width: var(--width-12col);
    color: var(--background-color-light);
    height: 45px;
    border-bottom: 1px solid var(--background-color-light);
    margin: 70px auto 0 auto;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 900;
}

.todays_recipes_content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gap);
    height: fit-content;
    width: var(--width-12col);
    box-sizing: border-box;
    margin: 0 auto;
}

.todays_recipes_content_block{
    background-color: var(--background-color-light);
    border-radius: 5px;
}

.todays_recipes_content_block_text {
    padding: 20px;
    color: var(--color_black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.todays_recipes_content_block_image img {
    background-size: cover;
    height: 100%;
    width: 100%;
}

.todays_recipes_content_block_text h5 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.todays_recipes_content_block_text p {
    font-size: 16px;

}

.todays_recipes_content_block_bottom_area {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
}

.todays_recipes_content_block_bottom_area_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 10px;
}

.todays_recipes_content_block_bottom_area_left p {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}

.todays_recipes_content_block_bottom_area_left p:last-child {
    font-weight: 800;
}

.todays_recipes_content_block_bottom_area_right_button button {
    background-color: var(--color_black);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700px;
    padding: 8px 12px 8px 12px;
}

.todays_recipes_content_block_bottom_area_right_button button a {
    color: var(--background-color-light);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

.categories {
    width:100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 130px auto;
    gap: var(--grid-gap);
    box-sizing: border-box;
    margin: 0 auto;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipe_categories{
    background-color: var(--background-color-light);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    width: var(--width-12col);
    margin: 0 auto;
    padding: 10px 0;
}

.image_section {
    width:100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 130px auto;
    gap: var(--grid-gap);
    box-sizing: border-box;
    margin: 0 auto;
}

.image_section_headline {
    margin: 70px auto 0 auto;
}

.image_section_image {
    background-image: url("https://picsum.photos/1280/600");
    clip-path: polygon(0 0, 100% 16%, 100% 100%, 0% 100%);
    min-height: 600px;
    height: auto;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--background-color-light);
    margin:0;
    border-bottom: 1px solid var(--background-color-dark-bg);
}

.image_section_container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
}

.image_section_textblock {
    grid-column: 9 / span 4;
    grid-row: 1;
    margin: 200px 0 0 0;
}

.image_section_textblock_white{
    width: 350px;
    height: 190px;
    background-color: var(--background-color-light);
    border-radius: 5px;
}

.image_section_text {
    color: var(--color_black);
}

.image_section_text h3 {
    color: var(--primary-color);
    padding: 15px 10px 10px 15px;
}

.image_section_text p {
    padding: 5px 10px 15px 15px;
}

.content_area {
    width:100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 130px auto;
    gap: var(--grid-gap);
    box-sizing: border-box;
    margin: 0 auto;
}

.kl_left_text_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    width: var(--width-12col);
    height: 100%;
    margin: 0 auto;
}

.kl_left_text_textlocation {
    grid-column: 1 / span 6;
    grid-row: 1;
    margin: 0 0 0 0;
}

.kl_left_text_textblock {
    height: 300px;
    background-color: var(--background-color-light);
}

.kl_left_text_text {
    color: var(--color_black)
}

.kl_left_text_text h3 {
    color: var(--primary-color);
    padding: 15px 10px 10px 15px;
}

.kl_left_text_text p {
    padding: 5px 10px 15px 15px;
}

.kitchen_lab_right_img {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    width: var(--width-12col);
    height: 100%;
}

.kl_right_img_location {
    grid-column: 7 / span 6;
    grid-row: 1;
    margin: 0 0 0 0;
}


.kl_right_img_location img {
  width: 100%;
  height: 300px;
}


.kl_right_text_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    width: var(--width-12col);
    height: 100%;
    margin: 0 auto;
}

.kl_right_text_textlocation {
    grid-column: 7 / span 6;
    grid-row: 1;
    margin: 0 0 0 0;
}

.kl_right_text_textblock {
    height: 300px;
    background-color: var(--background-color-light);
}

.kl_right_text_text {
    color: var(--color_black)
}

.kl_right_text_text h3 {
    color: var(--primary-color);
    padding: 15px 10px 10px 15px;
}

.kl_right_text_text p {
    padding: 5px 10px 15px 15px;
}

.kl_right_text_button {
    margin: 50px 10px 15px 15px;
}

.kl_right_text_button button {
    background-color: var(--color_black);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700px;
    padding: 8px 12px 8px 12px;
}

.kl_right_text_button button a {
    color: var(--background-color-light);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

.kitchen_lab_left_img {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    width: var(--width-12col);
    height: 100%;
}

.kl_left_img_location {
    grid-column: 1 / span 6;
    grid-row: 1;
    margin: 0 0 0 0;
}


.kl_left_img_location img {
  width: 100%;
  height: 300px;
}


/*footer*/

.footer {
    background-color: var(--primary-color);
    padding: 20px 0 50px 0;
}

.footer_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    width: var(--width-12col);
    height: 100%;
    margin: 0 auto;
}

.footer_container p {
    margin: 5px 0 5px 0;
}

.footer_container a {
    margin: 5px 0 5px 0;
}

.footer_link {
    display: flex;
    margin: 5px 0 0 0;
}

.footer_link_container {
    grid-column: 1 / span 2;
}


.footer_site_container {
    grid-column: 3/ span 2;
}

.footer_site_location {
    display: flex;
    flex-direction: column;
}

.footer_music_copyright_container {
    grid-column: 9/ span 4;
}

.footer_site_location a  {
    text-decoration: none;
    color: black;
}

.footer_m_c_location a {
    text-decoration: none;
    color: black;
}



/* Searchpage CSS */

.hero-searchpage {
    background-color: var(--background-color-dark-bg);
    min-height: 600px;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--background-color-light);
    margin:0;
    border-bottom: 1px solid var(--background-color-dark-bg);
}

.search-box-searchpage {
    grid-column: 1 / span 4;
    grid-row: 2;
    margin: 60px 0 0 0;
}

.search-input {
    background-color: transparent;
    padding: 10px 20px 10px 40px;
    border: 1px solid var(--background-color-light);
    border-radius: 5px;
    outline: none;
    color: var(--background-color-light);
    margin: 0 0 10px 0;
}

.search-input::placeholder {
    color: var(--background-color-light);
    }

.fullsearch-headline {
    width: 100%;
    color:var(--background-color-light);
    margin: 0 0 10px 0;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

.filter-category-checkbox {
    background-color: var(--background-color-dark-bg);
    background: linear-gradient(90deg, #ededed11, #ededed07);
    grid-column: 6 / span 7;
    grid-row: 2;
    padding: 30px 40px;
    display: flex;
    flex-wrap: wrap;
    height: 240px;
    border-radius: 5px;
}

.filter-category-checkbox h3 {
    width: 100%;
    font-size: 1.125rem;
    font-weight: 400;
}

.filter-category-checkbox label{
    display: flex;
    align-items: center;
    margin: 0px 0;
    color: var(--background-color-light);
    font-size: 16px;
    font-weight: 100;
    width: 50%;
    height: 20px;
}

.filter-category-checkbox input[type="radio"] {
    margin-right: 10px;
    height: 22px;
    width: 22px;
}

.filter-category-checkbox input:checked {
    border: 2px solid var(--primary-color);
}

.filter-category-checkbox input[type="radio"]#chicken {
    accent-color: var(--catagory-chicken);
}

.filter-category-checkbox input[type="radio"]#seafood {
    accent-color: var(--catagory-seafood);
}

.filter-category-checkbox input[type="radio"]#veg {
    accent-color: var(--catagory-veg);
}

.filter-category-checkbox input[type="radio"]#meat {
    accent-color: var(--catagory-meats);
}

.filter-category-checkbox input[type="radio"]#dessert {
    accent-color: var(--catagory-dessert);
}

.filter-category-checkbox input[type="radio"]#pasta {
    accent-color: var(--catagory-pasta);
}

.filter-category-checkbox input[type="radio"]#misc {
    accent-color: var(--catagory-misc);
}

.serp-item{
    color: var(--background-color-light);
}

.serp-headline { 
    width: var(--width-12col);
    color: var(--background-color-light);
    height: 45px;
    border-bottom: 1px solid var(--background-color-light);
    padding: 0 0 70px 0;
    margin: 70px auto 30px auto;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 900;
}

.serp {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    width: var(--width-12col);
    height: 100%;
    margin: 0 auto;
}

.serp-container {
    grid-column: 1/ span 9;
}

.serp-item h3 {
    margin: 0 0 0 50px;
}

.serp-item h2 {
    margin: 5px 0 0 50px;
}

.serp-item p {
    margin: 5px 0 50px 60px;
}

/* Recipe page */

.hero-recipe {
    background-image: url("https://picsum.photos/1200/800");
    min-height: 600px;
    height: auto;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--background-color-light);
    margin:0;
    border-bottom: 1px solid var(--background-color-dark-bg);
}

.hero-container-recipe {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
}

.hero-text-recipe {
    grid-column: 1 / span 4;
    grid-row: 1;
    margin: 200px 0 0 0;
}

.hero-text-recipe h1{
   padding:0; /*redundant - Don't Repeat Yourself*/
   margin:10px 0 10px 0;
   font-size: 30px;
   text-transform: uppercase;
}

.hero-text-recipe h1 span{
  font-weight: 900;
}

.hero-text-recipe p{
    font: 14px;
}

.recipe-info {
   justify-content:space-between;
   display: flex;
   grid-column: 1/ span 5;
   grid-row: 2;
   grid-template-rows: auto auto auto;
}

.minutes {
    display: flex;
}

.calories {
    display: flex;
}

.level {
    display: flex;
}

.ingredients {
    display: grid;
    grid-column: 1/ span 6;
    grid-row:3;
}


.ingredients_list {
    display: flex;
}

.hero_buttons {
    display: grid;
    grid-row: 4;
    grid-column: 1 / span 4;
}

.hero_button_button {
    margin: 10px 0 10px 0 ;
}

.hero_button_button button {
    background-color: transparent;
    border: 1px solid var(--background-color-light);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700px;
    padding: 8px 12px 8px 12px;
}

.hero_button_button button a {
    color: var(--background-color-light);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

.instructions_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    width: var(--width-12col);
    height: 100%;
    margin: 0 auto;
}

.instructions_textlocation {
    grid-column: 1 / span 8;
    grid-row: 1;
    margin: 0 0 0 0;
}

.instructions_textblock {
    height: fit-content;
    background-color: var(--background-color-dark-bg);
}

.instructions_text {
    color: var(--background-color-light)
}

.instructions_text h3 {
    color: var(--primary-color);
    padding: 15px 0px 5px 15px;
}

.instructions_text p {
    padding: 5px 10px 10px 15px;
}

.instructions_img_location {
    grid-column: 9 / span 4;
    grid-row: 1;
    margin: 0 0 0 0;
}


.instructions_img_location img {
  width: 100%;
  height: 300px;
}


/*kitchen lab */

.content_area {
    width:100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 130px auto;
    gap: var(--grid-gap);
    box-sizing: border-box;
    margin: 0 auto;
}

.kl_text_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    width: var(--width-12col);
    height: 100%;
    margin: 0 auto;
}

.kl_text_textlocation {
    grid-column: 1 / span 6;
    grid-row: 1;
    margin: 0 0 0 0;
}

.kl_text_textblock {
    height: 300px;
    background-color: transparent;
}

.kl_text_text {
    color: var(--color_light)
}

.kl_text_text h3 {
    color: var(--primary-color);
    padding: 15px 10px 10px 15px;
}

.kl_text_text p {
    padding: 5px 10px 15px 15px;
}

.kitchen_lab_right_img {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    width: var(--width-12col);
    height: 100%;
}

.kl_img_location {
    grid-column: 7 / span 6;
    grid-row: 1;
    margin: 0 0 0 0;
}


.kl_img_location img {
  width: 100%;
  height: 300px;
}